<!DOCTYPE html>
<html>
<head>
  <title>Hello, World!</title>
  <link rel="stylesheet" type="text/css" href="<%- assetUrl %>/app.css">
</head>
<body>
  <div id="AppContainer"><%- app %></div>
  <script src="<%- assetUrl %>/assets/app.js"></script>
</body>
</html>
